:root {
    --whiteSmoke: whitesmoke;
    --red: rgb(255, 0, 0);
    --aquamarine: aquamarine;
    --orange: rgb(255, 123, 0);
}

html {
    font-size: 10px;
    font-weight: 300;
}

body {
    width: 90vw;
    margin: 0 auto;
    background-color: rgb(2, 2, 2);
}

main {
    text-align: center;
    background-color: var(--whiteSmoke);
    border: solid 2px var(--red);
    min-height: 80vh;
    border-radius: 2rem;
    padding: 1rem;
    color: rgb(49, 68, 92);
}

h2 {
    font-size: 2.2rem;
    margin: 8rem 0;
    background-color: rgba(137, 43, 226, 0.63);
    border-radius: 1rem;
    padding: 2rem;
}

p {
    font-size: 1.8rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

button {
    height: 8rem;
    border: none;
    cursor: pointer;
    background-color: var(--aquamarine);
    padding: 1.6rem;
    border-radius: 1rem 1rem 0 0;
}

button:nth-child(2) {
    background-color: var(--orange);
    border-radius: 0;
}

button:last-child {
    background-color: var(--red);
    border-radius: 0 0 1rem 1rem;
}

h3 {
    font-size: 2rem;
}

input[type='number'] {
    border: solid 1px lightgray;
    background-color: transparent;
    margin: 0.5rem 0 5rem 0;
    padding: 1rem 0;
    width: 16rem;
    text-align: center;
}

#range {
    display: flex;
    background-color: var(--aquamarine);
    height: 50px;
    padding: 0;
    margin: 0 0 4rem 0;
}

#rangeOutput {
    font-size: 1.3rem;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
}

.stats {
    text-align: left;
    background-color: rgba(255, 217, 0, 0.432);
    border-radius: 1rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.info span {
    font-size: 1.6rem;
}

#newGameButton {
    border-radius: 1rem;
}

.flash {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    color: rgb(57, 150, 231);
    margin-top: 4rem;
    margin: 30% 0 0 0;
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}